<header>
  <div class="logo"><h1>FindThePrecious</h1></div>
  <ul class="menu">
    <li class="underline">Fellows |</li>
    <li>The Ring |</li>
    <li>Reward |</li>
    <li>Hunters |</li>
    <li>Join |</li>
    <li>Contact</li>
  </ul>
</header>

    <div class="firstTitle">
      <div class="ringTitle Ring"></div>
      <h2>My Precious</h2>
      <div class="ringTitle Ring"></div>
    </div>

    <div class="secondTitle">
      <div class="oneRingTitle Ring"></div>
      <h2>The one ring</h2>
    </div>

    <div class="loopRings">
      <div class="sixRings1 Ring"></div>
      <div class="sixRings2 Ring"></div>
      <div class="sixRings3Ring"></div>
      <div class="sixRings4 Ring"></div>
      <div class="sixRings5 Ring"></div>
      <div class="sixRings6 Ring"></div>
    </div>
    <h2>Please find it</h2>

<footer>
  <div class="inFooter">
    <ul>
      <li>About us</li>
      <li>Fellows</li>
      <li>Join our army</li>
    </ul>
  </div>
  <div class="inFooter">
    <ul>
      <li>FAQ</li>
      <li>Reward conditions</li>
      <li>Legal mentions</li>
    </ul>
  </div>
  <div class="inFooter thirdFooter">
    <ul>
      <li>sauron4ever.com <br />Follow him also on twitter</li>

      <li>Find the precious</li>
    </ul>
  </div>
</footer>
